{% extends "base_generic.html" %}

{% block content %}
    <h1>My Blogs</h1>

    {% if blog_list %}
    <ul>
        {% for blog in blog_list %}
            <li>
                <a href="{{ blog.get_absolute_url }}">{{blog.name}}</a> ({{ blog.post_date }}) - <a href="{% url 'blog-update' blog.id %}">update</a> / <a href="{% url 'blog-delete' blog.id %}">delete</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
      <p>You have not posted any blog yet.</p>
    {% endif %}
    <a href="{% url 'blog-create' %}">Add blog</a>
{% endblock %}s