{% extends "base_generic.html" %}

{% block content %}
    <h1>My Blogs</h1>

    {% if post_list %}
    <ul>
        {% for blog in post_list %}
            <li>
                <a href="{{ blog.get_absolute_url }}">{{blog.title}}</a> ({{ blog.date_of_post }}) - <a href="{% url 'blog-update' blog.id %}">update</a> / <a href="{% url 'blog-delete' blog.id %}">delete</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
      <p>You have no posted blogs.</p>
    {% endif %}
    <a href="{% url 'blog-create' %}">Add new blog</a>
{% endblock %}s