{% extends "base_generic.html" %}

{% block content %}
    <h1>My Comments</h1>

    {% if comment_list %}
    <ul>

      {% for comment in comment_list %}
        <li>
            <a href="{% url 'blog-detail' comment.post.pk %}">{{comment.display_comment_reduced}}</a> ({{ comment.date_of_comment }}) - <a href="{% url 'comment-update' comment.id %}">update</a> / <a href="{% url 'comment-delete' comment.id %}">delete</a>
        </li>
    
      {% endfor %}
    </ul>

    {% else %}
      <p>You have no comments for this blog posts.</p>
    {% endif %}
{% endblock %}