{% extends "base_generic.html" %}

{% block content %}
    <h1>My Comments</h1>

    {% if comment_list %}
    <ul>

      {% for comment in comment_list %}
        <li>
            <a href="{% url 'blog-detail' comment.blog.pk %}">{{comment.display_short_comment_description}}</a> ({{ comment.post_date }}) - <a href="{% url 'comment-update' comment.id %}">update</a> / <a href="{% url 'comment-delete' comment.id %}">delete</a>
        </li>
    
      {% endfor %}
    </ul>

    {% else %}
      <p><a href="{% url 'blogs' %}">Add your comments for these blog posts.</a></p>
    {% endif %}
{% endblock %}